.relative {
    position: relative;
}

.imageIcon {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
}

.textIcon {
       box-sizing: content-box;
       border: 3px solid #0001;
       user-select: none;
       width: 48;
       font-size: 32;
       text-align: center;
       height: 48;
       overflow: hidden;
}
.count {
    position: absolute;
    bottom: 0.2em;
    right: 0.2em;
    font-size: 18px;
    line-height: 1em;
    color: #fff;
    font-weight: 900;
    -webkit-text-stroke: 1.1px black;
}