.tech-card {
  position: relative;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45a5b9;
  border: 8px solid;
  border-right-color: #0003;
  border-bottom-color: #0003;
  border-left-color: #FFF3;
  border-top-color: #FFF3;
  /* box-sizing: border-box; */
}

.tech-card::after {
  content: "NAME";
  text-overflow: ellipsis;
  position: absolute;
  width: 100%;
  background-color: #0005;
  bottom: 0;
  left: 0;
  font-size: 16px;
  color: #FFF;
  padding: 1px 5px;
  box-sizing: border-box;
}